<div>
    <app-header></app-header>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">E-Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">admin-dashboard</li>
    </ol>
  </nav>
  <hr>

<div class="container">
    <div class="row col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-3" *ngFor="let data of datalist">
            <div class="card mt-3">
                <div class="card-header">
                    <span>Card - {{data.id}}</span>
                </div>
                <div class="card-body">
                    <table class="table table-responsive">
                        <tr>
                            <td>Name</td>
                            <td>{{data.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td style="display:inline-flex;">{{data.email}}</td>
                        </tr>
                        <tr>

                            <td>Role</td>
                            <td>{{data.role}}</td>
                        </tr>
                        <tr>

                            <td>Password</td>
                            <td>{{data.password}}</td>
                        </tr>
                    </table>

                </div>
                <div class="card-footer">
                    <span>{{data.role}}</span>
                </div>
            </div>

        </div>


    </div>
</div>