<div class="card" style="margin-left: 25%; margin-right: 25%; margin-top: 3%;">
    <div class="card-header">
       E-Library Registration
    </div>
    <div class="card-body">
        <div class="row md-col-6">
            <form [formGroup]="frmSignup" (ngSubmit)="signup()">

                <!-- Email input -->
                <div class="form-outline">
                    <label class="form-label" for="role">Role</label>
                    <input type="text" id="role" class="form-control" formControlName="role" placeholder="Enter role i.e admin,student" />
                    
                </div>

                <!-- Email input -->
                <div class="form-outline ">
                    <label class="form-label" for="name">Full Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your full name" />
                   
                </div>

                <!-- Email input -->
                <div class="form-outline">
                    <label class="form-label" for="email">Email address</label>
                    <input type="email" id="email" class="form-control" formControlName="email"  placeholder="Enter valid email address"/>
                    
                </div>

                <!-- Password input -->
                <div class="form-outline">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter password" />
            
                </div>
                <br>

                <!-- Submit button -->
                &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-warning btn-lg mb-4"
                    style="width: 35% !important;">Sign Up</button>
                &nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-warning btn-lg mb-4"
                    style="width: 35% !important;">Cancel</button>

            </form>
            <div style="margin-left: 2%;">
                <p>Already have an account ? <a routerLink="/account/login" class="btn btn-warning btn-sm">Sign In</a>
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <app-footer></app-footer>
      </div>
</div>