<app-header></app-header>

<div class="row page-style" >
    <div class="row col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- <select class="form-select" aria-label="Default select example" [(ngModel)]="chartTypeSelection" (ngModelChange)="onBookStockSelectChange(chartTypeSelection)">
              
                <option value="doughnut">doughnut</option>
                <option value="pie">pie</option>
                <option value="bar">bar</option>
                <option value="line">line</option>
                <option value="polarArea">polarArea</option>
              </select> -->
        </div>
       
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div >
            <canvas id="mychart">

            </canvas>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 5%;">
        <div >
            <canvas id="mychart1">

            </canvas>
        </div>
    </div>

   
</div>

