.chart-container {
    height: 150%;
    width: max-content;
}

.page-style {
    width: 80%;
    margin-left: 12.5% !important;
    margin-right: 12.5% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.chart-section-mgr{
    margin-top: 2%;
}