<div *ngIf="!isAdmin">
    <nav class="navbar navbar-expand-sm bg-success navbar-dark" id="navid">
        <a class="navbar-brand" routerLink="/student-dashboard" style="margin-left: 1%;" title="E-Library Management System"><img class="img-box" src="https://img.icons8.com/color/100/null/library.png"/> E-Library </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse cst-r-float" id="mynav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/student-dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/order-history" title="Order History">Order History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-dashboard" title="Calculate your fine">Calculate Due</a>
                </li>

            </ul>
        </div>

        <div style="float: right; margin-right: 2%;">
            <strong class="color:#fff;"> <span>Welcome  <small>&nbsp;{{LoggedInUser}}</small></span></strong>
        </div>

        <div style="margin-right: 5px !important;">
            <button type="button" class="btn btn-warning mr-3" (click)="Logout()" data-toggle="tooltip"
                data-placement="top" title="LogOut">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </button>

        </div>
    </nav>
</div>
<div *ngIf="isAdmin">
    <nav class="navbar navbar-expand-sm bg-success navbar-dark" id="navid">
        <a class="navbar-brand" routerLink="/admin-charts" style="margin-left: 1%;" title="E-Library Management System"><img class="img-box" src="https://img.icons8.com/color/100/null/library.png"/> E-Library </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse cst-r-float" id="mynav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/showorder" title="Place your books order">Show Order</a>
                </li>
                

            </ul>
        </div>

        <div style="float: right; margin-right: 2%;">
            <strong class="color:#fff;"> <span>Welcome  <small>&nbsp;{{LoggedInUser}}</small></span></strong>
        </div>

        <div style="margin-right: 5px !important;">
            <button type="button" class="btn btn-warning mr-3" (click)="Logout()" data-toggle="tooltip"
                data-placement="top" title="LogOut">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="yellow" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </button>

        </div>
    </nav>
</div>