<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" />

    <app-header></app-header>    
<div class="row mt-3 mb-3">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="input-group" style="width: 40%; margin-left: 30%;">
            <input type="text" class="form-control" placeholder="Search" value="Search" [(ngModel)]="searchText"
                (ngModelChange)="onSearchPlacedOrder($event)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" disabled>
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

    </div>
</div>

<div id="mydiv" style="overflow-y: scroll;">
    <div class="row col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-3 col-sm-3 col-lg-3" *ngFor="let data of OrdersDataList" style="margin-left: 1%; margin-bottom: 1%;width:24% !important">
            <div class="card  shadow rounded">
                <div class="card-header" style="border: 0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="green"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <span> &nbsp;{{data.studentName}}</span>

                </div>
                <div class="card-body" style="word-wrap: break-word !important;">
                    <table class="table table-responsive">
                        <tr>
                            <td>Book Name</td>
                            <td style="word-wrap: break-word;">{{data.bookName}}</td>
                        </tr>
                        <tr>

                            <td>Author</td>
                            <td>{{data.author}}</td>
                        </tr>
                        <tr>

                            <td>Status</td>
                            <td><span class="badge bg-success">{{data.status}}</span></td>
                        </tr>
                        <tr>
                            <td>Issue Date</td>
                            <td>{{data.issueDate}}</td>
                        </tr>
                        <tr>
                            <td>Submission Date</td>
                            <td>{{data.submittedDate}}</td>
                        </tr>
                    </table>

                </div>
                <div class="card-footer">
                    <div style="float: right;">
                        <button type="button" class="btn btn-success" title="Approve the order"> &nbsp;Approve</button> &nbsp;&nbsp;

                        <button type="button" class="btn btn-danger" title="Reject the order">&nbsp;Reject</button>

                            
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>